.Category--container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 10px;
  background-color: var(--button-background-color);
}

.Category--container > * {
  height: 100%;
}

.Icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  padding: 2px;
}

.Name--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font: 1em sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: rgb(224, 254, 255);
  line-height: normal !important;
}

.DeleteButton--container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 100%;
  text-align: center;
  background-color: #282828;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.DeleteButton--container:hover {
  color: #f00;
  cursor: pointer;
}
