.Categories--section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 50%;
}


.Categories--container {
  width: 100%;
  height: 100%;
  padding: 12px 14px;
  height: 200px;
  max-height: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  align-content: flex-start;
  gap: 12px;
  background: -webkit-linear-gradient(to right, #191920, #11101f, #141135);
  background: linear-gradient(to right, #191920, #11101f, #141135);
  border: 3px solid #d1d1d1;
  border-radius: 10px;
}