.Modal--container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #454545aa;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000000000;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.Modal--content {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 300px;
  padding: 2rem 4rem;
  height: 600px;
  border-radius: 10px;
}

.Modal--content {
  --borderWidth: 3px;
  background: #000000;
  position: relative;
  border-radius: 14px;
}

h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.Form--container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 1.4rem;
}

textarea {
  resize: none;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .Modal--content {
    padding: 1rem 2rem;
    width: 95%;
  }
}
