.NoteControls--container {
  display: flex;
  gap: 8px;
  z-index: 10;
  height: 100%;
}

.NoteControls--item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 100%;
  text-align: center;
  background-color: #000;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
}

.NoteControls--item:hover {
  background-color: #282828;
}

.delete.NoteControls--item:hover {
  color: #f00;
}

.edit.NoteControls--item:hover {
  color: #0f0;
}

.archive.NoteControls--item:hover {
  color: #f0f;
}
