.Note--container {
  z-index: 1;
  min-width: 350px;
  max-width: 450px;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--button-background-color);
  padding: 14px 16px;
  gap: 12px;
  transition: all 0.05s ease-in-out;
}

.Note--container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.Note--content {
  display: flex;
  gap: 12px;
  color: #f3f3f3;
  flex-direction: column;
}

.Note--content > h3 {
  font-size: 1.2rem;
  font-weight: 900;
}

.Note--date > p {
  font-weight: 700;
}
