.NotesList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
}

.NotesList--container {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.NotesList--title {
  height: 100%;
  width: max-content;
  text-align: end;
}

.NotesList--title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.NotesList--loading {
  color: rgb(194, 194, 194);
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 900;
}

.NotesList--loading--button {
  font-size: inherit;
  color: #09f;
  cursor: default;
}

.NotesList--loading--button:hover {
  color: #0f0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .NotesList--title__container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .NotesList--title {
    text-align: center;
  }
}
